:root{
    --p-color:black;
    --s-color:grey;
    --t-color:#0d6efd;
    --q-color:white;
    --blu-color:#38B6FF;
    --font:"Raleway",sans-serif;
}

/****reset box****/
html {
  	box-sizing: border-box;
	font-size:16px;
    font-family: var(--font);
    scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/*****menu******/
.menu{
    position: sticky;
    top: 0;
    width: 100%;
    height: 90px;
    background-color: var(--q-color);
    z-index: 999;
}
.menu__first{
    width: 100%;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.hamburger{
    padding: 0.5rem;
}
.menu__img{
    width: 140px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    padding: 0.5rem;
}
.menu__options{
    width: 100%;
    height: auto;
    background-color: white;
    grid-row: span 2;
    visibility: hidden;
    opacity: 0; 
}
@media screen and (min-width:48em) {
    .menu__options{
        visibility: visible;
        opacity: 1;
        padding: 0;
    }
}
.menu--single{
    grid-template-rows: repeat(2,auto);
}
.menu__options--show{
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu__options > a{
    text-decoration: none;
    padding: 0.8rem;
    color: var(--blu-color);
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    border-bottom: thin solid var(--blu-color);
}
@media screen and (min-width:48em) {
    .menu__options > a{
        border-bottom: none;
        padding: 0.4rem;
    }
}
.menu__options > a:hover{
    color: var(--t-color);
    transition: color 1s ease-in;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before{
    background-color: var(--t-color);
    
}

/****hero image ****/
.heroimg{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 1rem;
}
.heroimg__img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position:center;
    filter:brightness(0.6);
    
}

.heroimg__content{
    position: absolute;
    top:40%;
    left: 50%;
    width: 100%;
    color: var(--q-color);
    text-align: center;
    transform: translate(-50%,-50%);
    margin: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroimg__contactbtn{
    width: 200px;
    height: 70px;
    border: none;
    border-radius: 1rem;
    background-color: var(--blu-color);
    color: white;
    z-index: 100;
    font-size: 1.6rem;
    cursor: pointer;
}
@media screen and (min-width:30em){
    .heroimg__contactbtn{
        top:50%;
    }
}
@media screen and (min-width:48em){
    .menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hamburger{
        display: none;
    }
    .menu--single{
        grid-template-rows: repeat(1,60px);
    }
    .menu__options--show{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .menu__options{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu__options > a{
        margin: 0.5rem;
    }
    .heroimg{
        height: auto;
    }
    .heroimg__img{
        height: calc(100vh - 64px);
    }
}


/******* about section *******/
.about-container{
    width: 100%;
    height: auto;
    scroll-margin-top: 100px;
    
}

@media screen and (min-width:62em){
    .about-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(1,1fr);
        justify-content: center;
        align-content: center;
    }
}

.about-container__info,
.about-container__photo,
.about-container__knowledge{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.about-container__info > h2,
.about-container__info > h3{
    margin-bottom:0.2rem
}
.about-container__photo > img{
    width: 320px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    filter: grayscale(1);
    margin-bottom: 2rem;
    border-radius: 2rem;
}
.about-container p{
    padding: 0.7rem;
    text-align: justify;
    line-height: 2rem;
    
}
.about-container__btn{
    width: 276px;
    height: 50px;
    text-align: center;
    background-color: var(--blu-color);
    border:none;
    color: white;
    font-size: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
}
.about-container__btn:hover{
    background-color: none;
    background-image: linear-gradient(black, var(--t-color));
    
}
.about-container__skills{
    max-width: 350px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
}
.about-container__list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-container__list li{
    font-size: 1.2rem;
    color:var(--blu-color);
    margin: 0.5rem;
}

.about-container__logos > svg{
    width: 50px;
    height: 50px;
    margin: 0.3rem;
    fill: grey;
}

/* ********services********* */
.services{
    width: 100%;
    height: auto;
    background-color: grey;
    margin-top: 1rem;
    margin-bottom: 2rem;
    scroll-margin-top: 190px;
}
.services-title{
    width: 200px;
    height: auto;
    text-align: center;
    padding: 1rem;
    color: white;
    border-top: thin solid #0d6efd;
    border-bottom: thin solid #0d6efd;
}
.services__title-container{
    width: 100%;
    height: 90px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services__card{
    width: 100%;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
.services__card svg{
    color: #0d6efd;
    fill: #0d6efd;
    width: 44px;
    height: 44px;
}

.services__fyg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.services__fyg > svg{
    margin: 1rem;
}
.services__card > p{
    text-align: center;
}
@media screen and (min-width:30em){
    .services{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        justify-items: center;
        align-items: center;
        column-gap: 1rem;
        row-gap: 1rem;
    }
    .services__card{
        border-radius: 1rem;
    }
}

@media screen and (min-width:48em){
    .services{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        justify-items: center;
        align-items: center;
        column-gap: 1rem;
        row-gap: 1rem;
        padding: 1rem;
    }
    .services__card{
        width: 90%;
        height: 200px;
        margin: 0;
        
    }
    
}

/* ***************projects************* */
.projects{
    width: 100%;
    height: auto;
    scroll-margin-top: 100px;
}
.projects__title{
    width: 100%;
    height: 90px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}
.projects__title h2{
    width: 200px;
    color: white;
    padding: 1rem;
    border-top: thin solid var(--t-color);
    border-bottom: thin solid var(--t-color);
}
.projects__cards{
     width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.flip-card{
    width: 250px;
    height: 250px;
    position: relative;
    cursor: pointer;
    perspective: 10rem;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
    /* border: thick solid red; */
    text-align: center;
    margin: 1rem 1.8rem;
}
.flip-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    border-radius: 1rem;
}
.flip-face{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    /* border:  thick solid blue; */
}
.flip-card a{
    text-decoration: none;
    color: black;
}
.flip-front{
        transform: rotateY(0deg);
}
.flip-back{
    transform:rotateY(180deg)
}
.flip-card:hover{
    transform: rotateY(180deg);
}

/* *******work philosophy******* */
.wphilosophy{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    scroll-margin-top: 100px;
}
.wphilosophy__title{
    width: 100%;
    height: 90px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;

}
.wphilosophy__title > h2{
    width: 250px;
    color: white;
    border-top: thin solid var(--t-color);
    border-bottom: thin solid var(--t-color);
    padding: 1rem;
}
.wphilosophy__p{
    font-style: italic;
    font-weight: 600;
    text-align: center;
    font-size: 1.1rem;
}
.wphilosophy__bg{
    width: 90%;
    height: auto;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width:62em) {
    .wphilosophy__bg{
        background-image: linear-gradient(white 0 49%,grey 50%);
        border: none;
        margin-bottom: 6rem;
    }
}
.wphilosophy__card{
    width: 250px;
    height: 300px;
    background-color: white;
    border: thick solid var(--blu-color);
    text-align: center;
    margin: 1rem;
    border-radius: 1rem;
}
.wphilosophy__card > p{
    width: 100%;
    height: 100px;
    padding: 0.5rem;
}
.wphilosophy__card > img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

/***********contacto*************/
.contact{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    scroll-margin-top: 100px;
}
.contact__title{
    width: 100%;
    height: 90px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}
.contact__title > h2{
    width: 250px;
    color: white;
    border-top: thin solid var(--t-color);
    border-bottom: thin solid var(--t-color);
    padding: 1rem;
}
.contact__image{
    width: 100%;
    height: 320px;
    text-align: center;

}
.contact__img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}
@media screen and (min-width:48em){
    .contact__img{
        width: 400px;
        height: 350px;
    }
}
.contact__elements{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width:48em) {
    .contact__elements{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(1,1fr);
        justify-items: center;
        align-items: center;
    }
}
textarea{
    resize: none;
}
.contact__form{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--t-color);
    border-radius: 1rem;
    padding: 1rem;
}
.contact__form > h3{
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0.8rem;
}
.contact__form > p{
    font-size: 1.2rem;
    color: white;
    font-weight: 700;
    margin: 0.5rem;
}
.contact__form > input{
    width: 250px;
    height: 30px;
    font-size: 1.1rem;
    color: var(--blu-color);
}
.contact__form > textarea{
    color: var(--blu-color);
    font-size: 1.1rem;
}
.contact__form > button{
    width: 150px;
    height: 30px;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    background-color: var(--blu-color);
    color: white;
}

/***********footer***********/
.footer{
    width: 100%;
    height: 200px;
    background-color: var(--s-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__icons{
    width: 50%;
    border-top: thin solid var(--t-color);
    text-align: center;
}
.footer__icons svg{
    width: 35px;
    height: 35px;
    fill: var(--p-color);
    margin: 1rem;
    
}
.footer > h2{
    color: var(--p-color);
}